doctype html
html
  head
    //title= title
    include state/head
  body
    div.contFluid
      include page/welcome
      include page/server
      block content

      script(src="/socket.io/socket.io.js")
      script(src='/js/jquery.js')
      script(src='/js/main.js')
