.cf_server {
  position: relative;
  padding: 20px 0;
  display: none;

  .container {
    max-width: 780px;
  }
  //container

  .title {
    font-size: 22px;
    font-weight: 600;
    color: #000;
    margin: 30px auto;
    display: block;
  }
  //title

  .server__wrapper {
    border-radius: 3px;
    background-color: #fff;
    overflow: hidden;
    position: relative;

    .server__header,
    .server__content {
      position: relative;
      width: 100%;
      display: inline-table;
      .cell {
        position: relative;
        width: 25%;
        text-align: center;
        display: inline-block;
        vertical-align: middle;

        &.game {
          width: 40%;
          text-align: left;
        }
        //game
        &.players {
          width: 20%;
        }
        //players
        &.map {
          width: 20%;
        }
        //map
        &.tableNumber {
          width: 20%;
        }
        //tableNumber
      }
    }

    .server__header {
      border-bottom: 2px solid #e5e5e5;
      .cell {
        font-size: 11px;
        font-weight: 500;
        color: #a1a1a1;
        text-align: center;
        text-transform: uppercase;
        padding: 17px 15px;
        display: table-cell;
        vertical-align: middle;
      }
      //cell
    }
    //server__header

    .server__content {
      li {
        border-bottom: 1px solid #e5e5e5;
        cursor: pointer;
        @include transition(all .3s ease);
        &:hover {
          background-color: #f7f7f7;
        }
        &:last-child {
          border-bottom: none;
        }

        .cell {
          padding: 20px 15px;
          &.game {
            font-size: 13px;
            font-weight: 600;
          }
          //game
          &.players {
            font-size: 13px;
            font-weight: 400;
          }
          //players
          &.map {
            font-size: 14px;
            font-weight: 400;
          }
          //map
          &.tableNumber {
            font-size: 17px;
            font-weight: 400;
          }
          //tableNumber
        }
        //cell
        
        &.msg {
          position: relative;
          font-size: 14px;
          line-height: 20px;
          font-weight: 400;
          color: #555555;
          text-align: center;
          padding: 25px 20px;
          display: block;
          &:hover {
            background-color: transparent;
          }
        }
      }
      //li
    }
    //server__content
  }
  //server__wrapper

  .buttons {
    position: relative;
    text-align: right;
    padding: 25px 0;
    .btn {
      @include user-select();
      margin-left: 20px;
    }
    //btn
  }
  //buttons
}