extends ../layout

block content
  div.row.cf_main
    div.container
      div.main__header
        div.logo Bubble shooter
          div.countClients
        div.panel
          div.tableNumber 0000
          //div.btn.btnStartGame Начать игру
          div.status

      div.main__content
        div.mn__data.tile-container

        div.mn__data.grid-container.not-load
          div.cell(data-cell='1')
            span
          div.cell(data-cell='2')
            span
          div.cell(data-cell='3')
            span
          div.cell(data-cell='4')
            span
          div.cell(data-cell='5')
            span
          div.cell(data-cell='6')
            span
          div.cell(data-cell='7')
            span
          div.cell(data-cell='8')
            span
          div.cell(data-cell='9')
            span
          div.cell(data-cell='10')
            span
          div.cell(data-cell='11')
            span
          div.cell(data-cell='12')
            span
          div.cell(data-cell='13')
            span
          div.cell(data-cell='14')
            span
          div.cell(data-cell='15')
            span
          div.cell(data-cell='16')
            span

  div.popup.eventGame

    div.popupEvent.popupGameOver
      div.wrapper
        div.title Увы! 😔 Вы проигралИ!
        div.image.avatarBlock(style="background-image: url('https://media.giphy.com/media/3oriOfOHtS196yioJG/200w.webp')")
        div.btn.btn-dark-blue.btnPlayAgain Играть снова

    div.popupEvent.popupGameWin
      div.wrapper
        div.title Поздравляем! 😉 Вы выиграли!
        div.image.avatarBlock(style="background-image: url('https://media.giphy.com/media/xUPGcHretmclA1QgY8/200w.webp')")
        div.btn.btn-dark-blue.btnPlayAgain Играть снова

    div.popupEvent.popupExitPlayer
      div.wrapper
        div.title Соперник вышел из игры! 😐 😒
        div.image.avatarBlock(style="background-image: url('https://media3.giphy.com/media/26xBwYrIXjIlDjr7G/200w.webp')")
        div.btn.btn-dark-blue.btnPlayAgain Найти игрока

    div.popupEvent.popupPlayerSearch
      div.wrapper
        div.title Поиск игроков
        div.playerSearch
        //playerSearch
        //div.btn.btnPlayAgain Играть снова