div.row.cf_server
    div.container
        h2.title Серверы
        div.server__wrapper
            div.server__header
                div.cell.game Игра
                div.cell.players Игроки
                div.cell.map Карта
                div.cell.tableNumber Игровой режим
            ul.server__content
        //server__wrapper

        div.buttons
            div.btn.btnToUpdate Обновить
            a(href="/").btn.btn-red.btnBack Назад
            div.btn.btn-blue.btnPlayByPort Подключиться
        //buttons
    //container
//cf_server